header, .hero, .image, form {
  display: none;
  margin: 0;
  padding: 0;
}
body {
  font-size: 5rem;
}

.card {
  display: block;
}

.card {
  border-bottom: 1px solid;
}

.text--medium {
  color: black;
}