
html {
  font-size: 50%;
}



@media (max-width: 670px) {
  .hero > .container {
    flex-direction: column;
    text-align: center;
  }

  .hero > .container > img {
    margin-bottom: 2rem;
    order: -1;
    align-self: center;

  }
} 

@media (max-width: 630px) {
  .form-group {
    display: block;
    /* background-color: red; */
  }
  .input-control {
    width: 100%;
  }
} 

@media (max-width: 580px) {
  nav {
    display: none;
  }
  .one, .two, .three {
    background-color:#fff;
    height: 0.5rem;
    width: 100%;
    margin: 0.6rem auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 4rem;
    height: 3rem;
    margin-right: 2rem;
  }

  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #7159c1;

    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 0rem;
    top: 1.5rem;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(0.7rem, 0.7rem);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0; 
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(0.8rem, -0.9rem);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 4rem;
    display: block;
  }
}